@import "./_common";
@import "./_model";
/***************************/

/***************************/
/****** header  ************/
/***************************/
header{

  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    ul{
        li{
          float: left;
          height: 40px;
          line-height: 40px;
        }
      .logo{
        //float: left;
        width: 170px;
        font-size: 24px;
        font-weight: 800;
      }
      .blank{
        width: 500px;
      }
      .header-btn{
        width: 60px;
        font-size: 16px;
      }

    }
}
/***************************/

/***************************/
/****** nav  ***************/
/***************************/
body{
  background-color: #e2e2e2;
  height: 100%;
}
nav{


  background-color: #e2e2e2;
  border-radius: 4px;

  //margin-top: 20px;
  .layout{
    background-color: white;
    padding: 6px 10px;

    ul{
      margin-bottom: 0!important;
      li{
        float: left;
      }
      .years,.type{
        float: left;
        width: 80px;
        height: 30px;
        //line-height: 30px;
        //font-size: 16px;
        text-align: center;
        cursor: pointer;
        //margin-right: 8px;

        display: inline-block;
        font-size: 13px;
        line-height: 17px;
        padding: 5px 8px 5px 8px;
        margin-right: 5px;
        border-radius: 3px;
        background-color: #334;
        color: #fff;
      }
      .type{
        width: 50px;
      }
      .active, .type-active{

        color: white;
        background-color: black;
        border-radius: 4px;
      }
      .years{

      }
      .years-container{
        height: 30px;
        line-height: 30px;
        padding: 0 4px;
        label{

        }
        select{
          option{

          }
        }
      }
      .years-more-btn{
        margin:0 4px;
      }
    }
  }
}
/***************************/

/*******************************/
/****** article  ***************/
/*******************************/
article{
  background-color: #e2e2e2;
  //height: 600px;
  //padding-top: 20px;
  border-top: 1px solid #e2e2e2;
  height: 1584px;
  .layout{
    background-color: white;
    border-radius: 4px;
    ul.subject-list{
      li.subject-container{
        padding: 10px;
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        div{
          float: left;
        }
        dl{
          margin: 0;
          box-shadow: rgba(0, 0, 0, 0.37) 0px 0px 7px;
          padding: 12px 7px;
          dt{
            float: left;
            width: 184px;
            height: 270px;
            margin-right: 20px;
            img{
              display: block;
              width: 100%;
              height: 100%;

            }
          }
          dd{
            width: 668px;
            height: 270px;
            float: left;
            .title{
              height: 46px;
              line-height:26px;
              font-size: 26px;
              font-weight:600;
            }
            .line{
              height: 24px;
              width:668px;
              font-size: 14px;
              b{
                
              }
            }
          }
        }

        //.avatar{
        //  width: 48px;
        //  //vertical-align: top;
        //  //text-align: -webkit-center;
        //  margin-right: 10px;
        //  height: 48px;
        //  border: 1px solid #eee;
        //}
        .title{
          font-size: 16px;
          line-height: 130%;
          text-shadow: 0px 1px 0px #fff;
          word-wrap: break-word;
          width: 600px;
          span:hover{
            text-decoration: underline;
            cursor: pointer;
          }
          a{
            line-height: 50px;
          }
        }
        //.click-num{
        //  text-align: -webkit-right;
        //  vertical-align: middle;
        //  height: 50px;
        //  span{
        //    line-height: 12px;
        //    font-weight: bold;
        //    color: white;
        //    background-color: #aab0c6;
        //    display: inline-block;
        //    padding: 2px 10px 2px 10px;
        //    -moz-border-radius: 12px;
        //    -webkit-border-radius: 12px;
        //    border-radius: 12px;
        //    text-decoration: none;
        //    margin-right: 5px;
        //  }
        //}
        //.comment-num{
        //  height: 50px;
        //  line-height: 130%;
        //  text-shadow: 0px 1px 0px #fff;
        //  word-wrap: break-word;
        //  span{
        //    line-height: 12px;
        //
        //    color: white;
        //    background-color: #aab0c6;
        //    display: inline-block;
        //    padding: 2px 10px 2px 10px;
        //    -moz-border-radius: 12px;
        //    -webkit-border-radius: 12px;
        //    border-radius: 12px;
        //    text-decoration: none;
        //    margin-right: 5px;
        //  }
        //}
      }
    }
  }
}

/*******************************/