/********** common **************/
* {
  margin: 0;
  padding: 0; }

.clearHei:after {
  content: '.';
  clear: both;
  visibility: hidden;
  overflow: hidden;
  display: block;
  height: 0; }

.layout {
  width: 1000px;
  margin: 0 auto;
  background-color: white; }

.layout:after {
  content: '.';
  clear: both;
  visibility: hidden;
  overflow: hidden;
  display: block;
  height: 0; }

ul, li {
  list-style: none; }

ul:after {
  content: '.';
  clear: both;
  visibility: hidden;
  overflow: hidden;
  display: block;
  height: 0; }

li:after {
  content: '.';
  clear: both;
  visibility: hidden;
  overflow: hidden;
  display: block;
  height: 0; }

a {
  color: black;
  text-decoration: none; }

.line20 {
  width: 100%;
  height: 20px; }

.page-controller {
  float: right; }
  .page-controller .page-item {
    float: left;
    border: 1px solid #000;
    padding: 0 4px;
    margin-right: 4px;
    cursor: pointer; }

header {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22); }
  header ul li {
    float: left;
    height: 40px;
    line-height: 40px; }
  header ul .logo {
    width: 100px;
    font-size: 24px;
    font-weight: 800; }
  header ul .blank {
    width: 500px; }
  header ul .header-btn {
    width: 60px;
    font-size: 16px; }

body {
  background-color: #e2e2e2 !important;
  height: 100%; }

.layout {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 10px; }

article {
  width: 100%; }
  article .layout {
    width: 100%; }
  article #section-des {
    border: 2px solid #eee;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 6px;
    background: #F6F6F6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24); }

.row-my {
  width: 900px; }
  .row-my div {
    height: 30px;
    line-height: 30px; }
  .row-my .subject-name {
    color: black;
    font-size: 18px;
    padding-left: 14px; }
  .row-my .abstract {
    height: 64px;
    color: #666; }

.abstract {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px; }

.site-item {
  width: 100px;
  font-size: 14px;
  float: left;
  padding: 4px; }

.line20 {
  width: 100%;
  height: 20px; }

.post-list .post-item {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 2px 10px; }
  .post-list .post-item .user-name {
    color: #778087; }
  .post-list .post-item .post-title a {
    font-size: 18px;
    color: black; }

.add-post-layout #post-title-add {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 6px;
  display: block; }
.add-post-layout .post-text {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 6px;
  display: block; }
.add-post-layout .submit-btn {
  padding: 0 6px;
  background-color: #eee;
  color: #000;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto; }

.add-post-layout2 {
  text-align: center; }

/*# sourceMappingURL=subject.css.map */
